<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="department">
            <h2><span>Department</span> {{ department.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ department.name }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ department.description }}</span>
                </dd>
                <dt><span>Advertisement</span></dt>
                <dd>
                    <div *ngIf="department.advertisement">
                        <a (click)="openFile(department.advertisementContentType, department.advertisement)">open</a>
                        {{ department.advertisementContentType }}, {{ byteSize(department.advertisement) }}
                    </div>
                </dd>
                <dt><span>Logo</span></dt>
                <dd>
                    <div *ngIf="department.logo">
                        <a (click)="openFile(department.logoContentType, department.logo)">
                            <img [src]="'data:' + department.logoContentType + ';base64,' + department.logo" style="max-width: 100%;" alt="department image"/>
                        </a>
                        {{ department.logoContentType }}, {{ byteSize(department.logo) }}
                    </div>
                </dd>
                <dt><span>Location</span></dt>
                <dd>
                    <div *ngIf="department.location">
                        <a [routerLink]="['/location', department.location?.id, 'view']">{{ department.location?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/department', department.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
